body {
    background-color: black;
}

.background_div {
    margin-top: 5%;
    display: flex;
}

.background {
    width: 100%;
    height: auto;
}

.movable_container {
    width: 95%;
    margin-top: -22%;
    margin-left: 12%;
}

.character_div {
    display: flex;
}

.character {
    width: 10%;
    height: auto;
}

.shadow_div {
    display: flex;
}

.shadow {
    fill: aqua;
    width: 10%;
    height: auto;
}

.floating {
    animation: float linear 1s infinite;
}

@keyframes float {
    from { transform: rotate(0deg) translateX(1px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(1px) rotate(-360deg); }
}

.resizing {
    animation-delay: 0.35s;
    animation: resize linear 1s infinite;
}

@keyframes resize {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.cicle_div {
    display: flex;
}

.circle {
    /*visibility: hidden;*/
    fill: aqua;
    width: 10%;
    margin-top: -13%;
    margin-left: 4%;
}

.cirle_animation {
    animation: animation_move linear 4s forwards, 1s animation_resize linear 4s forwards;
    /*animation-delay: 2.5s;*/
}

@keyframes animation_move {
    0% {
        visibility: visible;
    }
    15% {
        fill: white;
    }
    35% {
        fill: aqua;
    }
    50% {
        fill: white;
    }
    70% {
        fill: aqua;
    }
    85% {
        fill: white;
    }
    100% {
        fill: aqua;
        transform: translate(550%, 0px);
        /*animation: animation_resize linear 0.5s forwards;*/
    }
}

@keyframes animation_resize {
    100% {
        transform: scale(4, 4);
        visibility: hidden;
    }
}