body {
    background-color: black;
}

.background_div {
    margin-top: 5%;
    display: flex;
}

.background {
    width: 100%;
    height: auto;
}

.movable_container {
    width: 10%;
    margin-top: -22%;
    margin-left: 12%;
    animation-delay: 4s;
    animation: 0s animation_container 6.1s forwards;
}

.character_div {
    display: flex;
}

.character {
    width: 100%;
    height: auto;
}

.shadow_div {
    display: flex;
}

.shadow {
    fill: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
}

.floating {
    animation: float linear 1s infinite;
}

@keyframes float {
    from { transform: rotate(0deg) translateX(1px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(1px) rotate(-360deg); }
}

.resizing {
    animation-delay: 0.35s;
    animation: resize linear 1s infinite;
}

@keyframes resize {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.cicle_div {
    display: flex;

}

.circle {
    visibility: hidden;
    fill: aqua;
    width: 10%;
    margin-top: -12%;
    margin-left: 15%;
}

.cirle_animation {
    transform-origin: -150% 45%;
    animation: 4s animation_move linear 2s forwards, 0.5s animation_resize linear 6s forwards;
}

@keyframes animation_move {
    0% {
        visibility: visible;
    }
    15% {
        fill: white;
    }
    35% {
        fill: aqua;
    }
    50% {
        fill: white;
    }
    70% {
        fill: aqua;
    }
    85% {
        fill: white;
    }
    100% {
        fill: aqua;
        transform: translateX(550%);
    }
}

@keyframes animation_resize {
    0% {
        visibility: visible;
    }
    15% {
        fill: rgba(0, 255, 255, 0.85);
    }
    35% {
        fill: rgba(0, 255, 255, 0.65);
    }
    50% {
        fill: rgba(0, 255, 255, 0.5);
    }
    70% {
        fill: rgba(0, 255, 255, 0.3);
    }
    85% {
        fill: rgba(0, 255, 255, 0.15);
    }
    100% {
        fill: rgba(0, 255, 255, 0);
        transform: scale(4);
        visibility: hidden;
    }
}

@keyframes animation_container {
    0% {

    }
    100% {
        transform: translateX(550%);
    }
}

/** {*/
/*    outline: 1px white solid;*/
/*}*/